<ng-container>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div *ngIf="alert" [ngClass]="{'alert':true, 'alert-success':currentUser, 'alert-danger':!currentUser}" role="alert">{{ alert }}
      <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span></button>
    </div>
    <div class="form-group">
      <label for="login">
        Login :
        <input class="form-control" name="input" type="text" formControlName="login" placeholder="login" required>
      </label>
    </div>
    <div class="form-group">
      <label for="password">
        Password :
        <input class="form-control" name="password" type="text" formControlName="password" placeholder="password" required>
      </label>
    </div>
    <div class="row">
    <div class="col-md-2">
    <input class='btnSubmitLogin btn btn-success' type="submit" [disabled]="!loginForm.valid" value="Se connecter" />
  </div>
  <div class="col-md-2">
  <input type="button" class='btn btn-primary' routerLink="../subscribe" value="Créer un compte" />
</div>
</div>
  </form>
</ng-container>