<ng-container *ngIf="currentUser">
  <h2>Account owner - {{ currentUser.firstname }} {{ currentUser.lastname }}</h2>
<h3>Personal datas</h3>
<ul class="list-group">
<li class="list-group-item">Email: {{ currentUser.email }}</li>
<li class="list-group-item">Téléphone : {{ currentUser.phone }}</li>
<li class="list-group-item">Adresse: {{ currentUser.adress }}</li>
<li class="list-group-item">Code postal: {{ currentUser.zipcode }}</li>
<li class="list-group-item">Ville: {{ currentUser.city }}</li>
<li class="list-group-item">Date d'inscription: {{ currentUser.subdate }}</li>
</ul>
<!-- <h3>Movies rated</h3>
<ul class="list-group">
<li class="list-group-item" *ngFor="let movie of moviesList">
  {{ movie.title }}
</li>
</ul> -->
</ng-container>
<button class="btn btn-danger" (click)="onSignOut()">Se déconnecter</button>
<button class="btn btn-warning" (click)="onDeleteUser(currentUser.id)">Supprimer mon compte</button>
<button mat-button (click)="openDialog()">Supprimer mon compte</button>
