<div class="row">
    <div class="col-md-12">
        <h1>DBmovie's home</h1>
        <p>Welcome to my firt multicouch application using Angular, JavaEE and PostgreSQL</p>
    </div>
</div>

<div class="row">
    <div class="col-md-2">
        <input class="nav-link" routerLink="login" type="button" name="btn-login" class="btn btn-info" value="Se connecter" />
    </div>
    <div class="col-md-2">
        <input class="nav-link" routerLink="subscribe" type="button" type="button" name="btn-logon" class="btn btn-info" value="Créer un compte" />
    </div>
    <div class="col-md-8">
    </div>
</div>