<div *ngIf="currentMovie">
    <h2>{{ currentMovie.title }}</h2>
    <h4>Synopsis</h4>
    <p>{{ currentMovie.synopsis }}</p>
    <h4>Notation</h4>
    <p>{{ currentMovie.note }}</p>
    <h4>Price of rent</h4>
    <p>{{ currentMovie.price }} €</p>

    <button class="btn btn-primary" (click)="onRentIt(currentMovie)">Rent it</button>
</div>