<ng-container>
  <form [formGroup]="subscribeForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="firstname">
        Prénom :
        <input class="form-control" name="firstname" type="text" formControlName="firstname" placeholder="firstname"
          required>
      </label>
    </div>
    <div class="form-group">
      <label for="lastname">
        Nom :
        <input class="form-control" name="lastname" type="text" formControlName="lastname" placeholder="lastname"
          required>
      </label>
    </div>
    <div class="form-group">
      <label for="email">
        Email :
        <input class="form-control" name="email" type="email" formControlName="email" placeholder="email" required>
      </label>
    </div>
    <div class="form-group">
      <label for="adress">
        Adresse :
        <input class="form-control" name="adress" type="text" formControlName="adress" placeholder="adress" required>
      </label>
    </div>
    <div class="form-group">
      <label for="zipcode">
        Code postal :
        <input class="form-control" name="zipcode" type="text" formControlName="zipcode" placeholder="zipcode"
          required>
      </label>
    </div>
    <div class="form-group">
      <label for="city">
        Ville :
        <input class="form-control" name="city" type="text" formControlName="city" placeholder="city" required>
      </label>
    </div>
    <div class="form-group">
      <label for="login">
        Identifiant :
        <input class="form-control" name="login" type="text" formControlName="login" placeholder="login" required>
      </label>
    </div>
    <div class="form-group">
      <label for="password">
        Mot de passe :
        <input class="form-control" name="password" type="password" formControlName="password" placeholder="password"
          required>
      </label>
    </div>
    <button class='btn btn-success' type="submit" [disabled]="!subscribeForm.valid">S'enregistrer</button>
  </form>
</ng-container>