<h1>Heroes list</h1>

<ul>
    <li *ngFor="let hero of heroes"
    [class.selected]="hero === selectedHero" (click)="onSelect(hero)">
        <span class="badge">{{hero.id}}</span>
        {{hero.name}}
    </li>
</ul>

    <div *ngIf="selectedHero">
        <h2>{{selectedHero.name | uppercase}} Details</h2>
        <div><span>id: </span>{{selectedHero.id}}</div>
        <div><span>name: </span>{{selectedHero.name}}</div>
        <div><span>streight: </span>{{selectedHero.streight}}</div>
        <div><span>capacity: </span>{{selectedHero.capacity}}</div>

        <div>
            <label>name:
              <input [(ngModel)]="selectedHero.name" placeholder="name"/>
            </label>
          </div>
    </div>
