/* You can add global styles to this file, and also import other style files */

.container {
    margin:60px 0;
        /* box-shadow: rgb(104, 104, 104) 0 0 50px 1px; */
    /* min-height: 100vh; */
}

.footer-copyright{
    color: #fff;
    background-color: #000;
    margin-top: 20px;
    /* position: absolute;
    bottom: 0; left: 0; right: 0; */
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

.pointer {cursor: pointer;}

.a, span {
    outline: none !important;
}