<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" routerLink="">
    <img src="../assets/pictures/logo-dbm-5.png" width="100" height="30" alt="">
  </a>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="nav navbar-nav">
      <li routerLinkActive="active" class="nav-item">
        <a class="nav-link" name="movies" routerLink="movies">Movies</a>
      </li>
      <li routerLinkActive="active" class="nav-item">
        <a class="nav-link" name="heroes" routerLink="heroes">Heroes</a>
      </li>
      <li routerLinkActive="active" class="nav-item">
        <a class="nav-link" name="users" routerLink="login">Utilisateurs</a>
      </li>
    </ul>
  </div>
  <div class="navbar-right">
    <ul class="nav navbar-nav">
      <li *ngIf="!btnLogin; else connected" routerLinkActive="active" class="nav-item">
        <span class="material-icons md-48 pointer" routerLink="login">account_circle</span>
      </li>
      <ng-template #connected>
        <li routerLinkActive="active" class="nav-item">
          <button class="btn btn-success" routerLink="login">{{ btnLogin }}</button>
        </li>
      </ng-template>
    </ul>
  </div>
</nav>
<div class="container">
  <!-- <router-outlet></router-outlet> -->
  <!-- <app-users (sessionName)="session = $event"></app-users> -->
  <router-outlet (activate)="onActivate($event)"></router-outlet>
</div>
<!-- Footer -->
<footer class="page-footer font-small blue">

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2020 Copyright
    <img src="../assets/pictures/logo-dbm-3.png" alt="" height="30"/>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->