<!-- <h1 mat-dialog-title>Dialog with elements</h1>
{{data.name}}}
<div mat-dialog-content>This dialog showcases the title, close, content and actions elements.</div>
<div mat-dialog-actions>
  <button mat-button mat-dialog-close>Close</button>
</div> -->

<h1 mat-dialog-title>{{data.title}}</h1>

<div mat-dialog-content>{{data.content}}</div>
<div mat-dialog-actions>
  <button mat-button mat-dialog-close>Close</button>
</div>