<ng-container *ngIf="sessionStorage.length === 0; else logout">
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div *ngIf="alert" [ngClass]="{'alert':true, 'alert-success':currentUser, 'alert-danger':!currentUser}" role="alert">{{ alert }}
      <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span></button>
    </div>
    <div class="form-group">
      <label for="login">
        Login :
        <input class="form-control" name="input" type="text" formControlName="login" placeholder="login" required>
      </label>
    </div>
    <div class="form-group">
      <label for="password">
        Password :
        <input class="form-control" name="password" type="text" formControlName="password" placeholder="password" required>
      </label>
    </div>
    <button class='btn btn-primary' type="submit" [disabled]="!loginForm.valid">Submit</button>
  </form>
    <button class='btn btn-success' type="submit" (click)="onGoSubscribe()" >Logon</button>
</ng-container>

<ng-template #logout>
  <ng-container>
    <h2>Account owner - {{ currentUser.firstname }} {{ currentUser.lastname }}</h2>
    <h3>Personal datas</h3>
    <ul class="list-group">
      <li class="list-group-item">Email: {{ currentUser.email }}</li>
      <li class="list-group-item">Téléphone : {{ currentUser.phone }}</li>
      <li class="list-group-item">Adresse: {{ currentUser.adress }}</li>
      <li class="list-group-item">Code postal: {{ currentUser.zipcode }}</li>
      <li class="list-group-item">Ville: {{ currentUser.city }}</li>
      <li class="list-group-item">Date d'inscription: {{ currentUser.subdate }}</li>
    </ul>
    <h3>Movies rated</h3>
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let movie of moviesList">
        {{ movie.title }}
      </li>
      </ul>
  </ng-container>
  <button class="btn btn-danger" (click)="onSignOut()">Se déconnecter</button>
  <button class="btn btn-warning" (click)="onDeleteUser(sessionStorage.id)">Supprimer mon compte</button>
</ng-template>


<!-- loginSession: {{ loginSession }}
<p>authStatus: {{ authStatus }}</p>
sessionStorage: {{ sessionStorage.length }} -->