.movie-title, .movie-img {
    /* text-align: center;
    display: block; */
    display: flex;
    justify-content: center;
}

.movie-title {

}

.movie-img {

}

.list-group-item {
}

/* .box {
    width: 180px;
    display: flex;
    align-items: center;
} */

.box {
    display: flex;
    align-items: stretch;
  }
       .movie-item {
        margin: 3px;
        box-shadow: -1px 1px 8px 0px #ccc;
       }