<!-- <ul>
    <li *ngFor="let movie of movies" (click)="onSelect(movie.id)">
        {{ movie.title }}
    </li>
</ul> -->

<div class="box">
<div *ngFor="let movie of moviesList" (click)="onSelect(movie.id)" class="movie-item">
    <div class="movie-img"><img width="150" height="200" src="../assets/pictures/{{ movie.img }}" alt="{{movie.title}}"/></div>
    <div class="movie-title">{{ movie.title }}</div>
</div>
  </div>